<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
     Categorias
    </ion-title>
  </ion-toolbar>

  <ion-segment  (ionChange)="cambio($event)" scrollable="true" mode="md" >
    <ion-segment-button *ngFor="let categoria of categorias" mode="md" [value]="categoria.valor">
      <ion-label  >{{categoria.titulo}}</ion-label>
    </ion-segment-button>
   
  </ion-segment>
</ion-header> 

<ion-content  color="dark">
 
<app-noticias [noticias]="noticias"></app-noticias>

<ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
 
</ion-content>
